<script setup lang="ts">
import { computed, ref, watch } from 'vue'

const weight = ref()
const height = ref()
const result = ref(0)

function calBMI() {
  const m = height.value / 100
  result.value = weight.value / Math.pow(m, 2)
}
// watch(weight, calBMI)
// watch(height, calBMI)

// const computedResult = computed(function() {
//   const m = height.value / 100
//   return weight.value / Math.pow(m, 2)
// })
</script>

<template>
  <div style="margin: auto; width: 500px">
    <div>
      <label for="weight">น้ำหนักตัว(kg.)</label>
      <input id="weight" type="text" v-model.number="weight" />
    </div>
    <div>
      <label for="height">ส่วนสูง(cm.)</label>
      <input id="height" type="text" v-model.number="height" />
    </div>
    <div><button @click="calBMI">คำนวณ</button></div>
    <br>
    <div class="box">
      <div style="text-align: center; font-size: 20pt">BMI</div>
      <br />
      <div style="text-align: center; font-size: 25pt">{{ result.toFixed(2) }}</div>
    </div>
    <!-- <div style="text-align: center; font-size: 20pt">{{ computedResult.toFixed(2) }}</div> -->
    <br />

    <table class="center">
      <tr>
        <th>BMI kg/m2</th>
        <th>อยู่ในเกณท์</th>
        <th>ภาวะเสี่ยงต่อโรค</th>
      </tr>
      <tr :class="{ activateLow: result < 18.5 && result ? true : false }">
        <td>น้อยกว่า 18.50</td>
        <td>น้ำหนักน้อย / ผอม</td>
        <td>มากกว่าคนปกติ</td>
      </tr>
      <tr :class="{ activateNormal: result >= 18.5 && result < 23 ? true : false }">
        <td>ระหว่าง 18.50 - 22.90</td>
        <td>ปกติ (สุขภาพดี)</td>
        <td>เท่าคนปกติ</td>
      </tr>
      <tr :class="{ activatePlump: result >= 23 && result < 25 ? true : false }">
        <td>ระหว่าง 23 - 24.90</td>
        <td>ท้วม / โรคอ้วนระดับ 1</td>
        <td>อันตรายระดับ 1</td>
      </tr>
      <tr :class="{ activateFat: result >= 25 && result < 30 ? true : false }">
        <td>ระหว่าง 25 - 29.90</td>
        <td>อ้วน / โรคอ้วนระดับ 2</td>
        <td>อันตรายระดับ 2</td>
      </tr>
      <tr :class="{ activateSoFat: result > 30 ? true : false }">
        <td>มากกว่า 30</td>
        <td>อ้วนมาก / โรคอ้วนระดับ 3</td>
        <td>อันตรายระดับ 3</td>
      </tr>
    </table>
  </div>
</template>

<style scoped>
.box {
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(221, 217, 213);
}
.activateLow {
  background-color: #f09696;
}
.activateNormal {
  background-color: rgb(150, 196, 240);
}
.activatePlump {
  background-color: rgb(255,245,203);
}
.activateFat {
  background-color: rgb(231, 183, 138);
}
.activateSoFat {
  background-color: #ff6e8e;
}

input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(167, 148, 148);
  color: #0400ff;
  font-size: 20pt;
}
input:hover {
  border-bottom: 2px solid #0400ff;
}

button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #3b34b4 10%, #5e90ed);
  cursor: pointer;
  font-size: 20pt;
  font-weight: bold;
  color: white;
}

button:active {
  box-shadow: 2px 2px 5px rgb(11, 59, 235);
}

table {
  border-top: 3px solid #6e6e74;
  border-bottom: 3px solid #6e6e74;
  border-left: 1px solid white;
  border-collapse: collapse;
}
th,
td {
  text-align: left;
  padding: 10px;
  border: 1px solid #9896f0;
}
tr:hover {
  background-color: rgb(238, 238, 238);
}
.center {
  margin: auto;
}
</style>
