<script setup lang="ts">
import { ref, reactive } from 'vue'

const dynamicId = ref('MY ID HERE')
const titleClass = ref('red')
const myClasses = reactive({
  red: true,
  bold: true,
  underLine: true
})
myClasses.red = false

const myStyle = reactive({
  fontSize: '30pt',
  border: '2pt',
  borderStyle: 'solid'
})
</script>

<template>
  <div :id="dynamicId" :class="myClasses" :style="myStyle" >
    {{ dynamicId }}
  </div>
</template>

<style scoped>
.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.underLine {
  text-decoration: underline;
}
</style>
