<script setup lang="ts">
import { ref } from 'vue'

const awsome = ref(true)
function toggle() {
  awsome.value = !awsome.value
}
</script>

<template>
  <div>
    <button @click="toggle()">toggle : {{ awsome }}</button>
    <h1 v-if="awsome">Vue is awsome!</h1>
    <h1 v-else>Oh on 😢</h1>
  </div>
</template>

<style scoped></style>
